{% extends 'base.html' %}


{% block content %}
     <main class="container">
          <div class="row">
               <div class="col-md-4 offset-md-4">
                    <h1 class="text-secondary text-center"> {{tasks}}</h1>

                    {{error}}
                    <div >
                         <form  method="POST">
                              {% csrf_token %}
                              {{form.as_p}}
                              <button class="btn btn-dark">Update</button>
                      
                         </form>
                         
                         <form action="{% url 'complete_task' tasks.id  %}" method="POST">
                              {% csrf_token %}
                              <button class="btn btn-secondary mt-2 ">Completed</button>
                         </form>
                      
                         <form action="{% url 'delete_task' tasks.id  %}" method="POST">
                          {% csrf_token %}
                          <button class="btn btn-danger mt-2" >Delete</button>
                      </form>
                    </div>
                  
                
                  
                
               </div>
          </div>
     </main>
     
     

   

{% endblock %}